/* Color Theme Swatches in Hex */
$aardbei: #BF2A45;
$pinklady: #F2527D;
$blueberry: #03658C;
$kiwi: #04D9C4;
$banaan: #D9C14A;
$body: #eeeeee;
$mainblack: #222222;
$mainwhite: #fefefe;
$grannysmith: #5fc138;

/* Color Theme Swatches in RGBA */
$Eveline-1-rgba: rgba(191,42,68, 1);
$Eveline-2-rgba: rgba(242,82,124, 1);
$Eveline-3-rgba: rgba(2,100,140, 1);
$Eveline-4-rgba: rgba(4,216,195, 1);
$Eveline-5-rgba: rgba(216,193,73, 1);

/* Color Theme Swatches in HSLA */
$Eveline-1-hsla: hsla(349, 63, 45, 1);
$Eveline-2-hsla: hsla(343, 86, 63, 1);
$Eveline-3-hsla: hsla(197, 95, 28, 1);
$Eveline-4-hsla: hsla(174, 96, 43, 1);
$Eveline-5-hsla: hsla(49, 65, 57, 1);
